.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/images/pin.jpg'); /* Absolute path to the image in public/images folder */
    background-size: cover;
    background-repeat: no-repeat;
}

.login-card {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
    margin-bottom: 15px;
}

.input-box {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #08d47c;
}
